*{
	margin:0;
}
body {
	background-color: #fff;
	color: black;
	font-family: Calibri;
	font-size: 2em;
}
html{
	height: 100%;
}
a{
  text-decoration: none;
}
a:active{
  text-decoration: none;  
  color: unset;
}
a:visited{
  text-decoration: none;
}
.nabBar ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top:25px;
  background:#819A32;
  height: 50px;
}
.nabBar a {
  text-decoration: none;
  background:#819A32;
  color:#fff;
  padding:0px 15px;
  font-family: arial;
  line-height:50px;
  display: block; 
  border-right: 1px solid #677B27;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;

}
.nabBar a:hover {
  background:#D43737;
}
.nabBar li {
  float:left;
  position:relative;
}
     

    .nabBar li > ul {
        position:absolute;
        top:25px;
        display:none;   
    }
     

    .nabBar li:hover > ul {
        display:block; 
        width:250px;
    }
    .nabBar li:hover > ul > li {
        float:none;
    }

.container{
  border:1px solid #819A32;
  border-top: none;
  border-radius: 0 0 10px 10px;
  width: 80%;
  margin: 0 auto;
}


.boton1{
  background:#eee;
  color:#819A32;
  text-decoration:none;
  display:block;
   width:60%; 
  text-align:center;
  margin:20px auto;
  padding:10px 10px;
  transition:all 0.3s;
  }
 .boton1:hover{
  box-shadow:0px -5px 0 #D43737 inset;
  color: #D43737;
}
.head{
  text-align: center;
  border-bottom: 1px solid black;
  width: 65%;
  margin:0 auto;
}


.zebra {
  list-style: none;
  border-left: 10px solid #819A32;
  padding: 0;

  width: 85%;
  margin:15px 0;
  border-bottom: 1px solid #819A32;
  border-top: 1px solid #819A32;
}
.zebra.questionListVars{
  width:99%;
}
.zebra li {padding: 10px;}
.zebra li:nth-child(odd) {background: rgb(255, 226, 225);}
.zebra li:nth-child(even) {background: white;}
.variant{
  border-bottom:1px solid #819A32;
}
.questionTitle{
  width: 97%;
  margin: 0 auto;
}
.questionTitle{
  font-weight: 600;
  text-align: center;
}
.highlight{
  text-decoration: underline;
  color:#D43737;
}
.answer{
  margin-left: 10px;
}

button, input[type="text"]{
  margin-left:auto ;
}

.editQuestionPage button, input[type="text"], select,input[type = "number"]{
  box-sizing: border-box;
  height: 30px;
  
}
.editQuestionPage button{
  
  background:#eee;
  color:#819A32;

  text-align:center;

  transition:all 0.3s;
  }
  .editQuestionPage button:hover{
  box-shadow:0px -5px 0 #D43737 inset;
  color: #D43737;
}
.createTestTitleFC button{
  box-sizing: border-box;
  height: 30px;
  background:#eee;
  color:#819A32;

  text-align:center;

  transition:all 0.3s;
}
.createTestTitleFC button:hover{
  box-shadow:0px -5px 0 #D43737 inset;
  color: #D43737;
}
.createTestVariantsFC button{
  box-sizing: border-box;
  height: 30px;
  background:#eee;
  color:#819A32;

  text-align:center;

  transition:all 0.3s;
  }
  .createTestVariantsFC button:hover{
  box-shadow:0px -5px 0 #D43737 inset;
  color: #D43737;
}

.newTestInputHolder{
  margin: 0 37%;
}
.variants {
  list-style: none;
  border-left: 10px solid #819A32;
  padding: 0;
  /* font-family: "Lucida Sans"; */
  /* width: 85%; */
  margin:15px 0;
  border-bottom: 1px solid #819A32;
  border-top: 1px solid #819A32;
}
.variants.questionListVars{
  width:99%;
}
.variants{
  width: 97.5%;
}
.variants li {padding: 10px;}
.variants li:nth-child(odd) {background: rgb(255, 226, 225);}
.variants li:nth-child(even) {background: white;}


    .inputGroup{
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
    }
    .inputGroup span{
      flex-grow: 1;
    }
    .inputGroup div{
      width: 300px;
    }

    .toFlex{
      display: inline-flex;
      width: 100%;
      justify-content: space-between;
      border-top: 1px solid #819A32;
      margin-left: 10px;
      box-sizing: border-box;
    }
    .toFlex .toLeft{
      flex-grow: 1;
    }
    .toFlex .toright{
      width: 300px;
    }
 .qPointInputHolder{ 
  margin-left: 10px;
}

.navigationButton{
  display: inline-flex;
      width: 100%;
      justify-content: space-between;
      
      margin-left: 10px;
      box-sizing: border-box;
      margin-bottom: 8px;
} 

.nextButtonLorem{
  width: 10px;
  height: 10px;
}
.prewButton{
  flex-grow: 1;
}
.nextButton button , .prewButton button{
  width: 160px;
  height: 90px;
  font-size: 2em;
}
.head .editPage input[type="text"], button{
  margin-bottom: 8px;
}
.createTest .nextButton button ,.createTest .prewButton button{
  width: 160px;
  height: 90px;
  font-size: 1em;
}
.createTest{
  margin:4px auto;
  width: 100%;
}
.navigationButton.createTest.button.first {
  font-size: 15px;
}

#bttn1, #bttn2{
  font-size: 20px;
}

.inputQuestionHolder{
  margin-left:10px;
}